<style>
#compose{
  border-radius: 25px;
  background: #DCDCDC;

  width: 150px;
  height: 40px;
  text-align: center;
  padding: auto;
}
</style>




<img width="5%" height="5%" src="https://image.flaticon.com/icons/svg/281/281769.svg">
<nav>
  <div id="compose">
    {{#link-to "create"}}
    <h3>Compose </h3><br>
    {{/link-to}}

  </div>

  {{#link-to "index"}}
  <br>Inbox<br>
  {{/link-to}}



  {{#link-to "sent"}}
  Sent <br>
  {{/link-to}}

  {{#link-to "trash"}}
  Trash <br>
  {{/link-to}}
</nav>

{{outlet}}
