


<img width="5%" height="5%" src="https://image.flaticon.com/icons/svg/1272/1272732.svg">
<nav>

  {{#link-to "about"}}    <br>
About<br>
  {{/link-to}}

  {{#link-to "create"}}
    New Event <br>
  {{/link-to}}



  {{#link-to "index"}}
All Events<br>
  {{/link-to}}



    {{#link-to "map"}}
  Map View<br>
    {{/link-to}}





  <!-- {{#link-to "sent"}}
    Sent <br>
  {{/link-to}}

  {{#link-to "trash"}}
    Trash <br>
  {{/link-to}} -->
</nav>

{{outlet}}
